<div>
    <div>
        <h2>{{post.title}}</h2>
        <p>By: {{post.user.name}}</p>
        <p>On: {{format_date post.createdAt}}</p>
    </div>
    <div>
        <p>{{post.description}}</p>
    </div>
</div>

{{#if logged_in}}
<button class="btn btn-primary" id="comment-button">Add Comment</button>
{{/if}}

{{#if (if_equals post.user_id user_id)}}
<button class="btn btn-primary" id="update-button">Update</button>
<button class="btn btn-primary" id="delete-button">Delete</button>
{{/if}}

<script src="/js/postPage.js"></script>